@font-face {
	font-family: Abel;
	font-display: swap;
	src: url("../fonts/Abel-Regular.woff2") format("woff2"), url("../fonts/Abel-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro_bold;
	font-display: swap;
	src: url("../fonts/gothampro_bold.woff2") format("woff2"), url("../fonts/gothampro_bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro_medium;
	font-display: swap;
	src: url("../fonts/gothampro_medium.woff2") format("woff2"), url("../fonts/gothampro_medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
