
.icon--long-arrow-left,
.icon--long-arrow-right {
  width: 137px;
  height: 46px;
  fill: #ffffff;
}
.icon--arrow {
	width: 17px;
	height: 6px;
	fill: #ffffff;
}
.icon--chevron {
	width: 5px;
	height: 12px;
	fill: #ffffff;
}
